{% extends "layouts/base.html" %} {% block title %} {{ room.room_name }} {% endblock %} {% block content %} {#
Navigation Bar #} {% include "components/navbar.html" %}

<div class="container py-5">
  <a class="btn btn-success mb-3 p-2" href="{{ url_for('rooms.index') }}">
    <i class="fa-solid fa-left-long me-2"></i>
  </a>

  {# ========================================== Room Information Card Displays room details, teams, match info, room
  code, and owner actions. ========================================== #} {% include
  "components/room_details/room_info.html" %}

  <div class="row">
    <!--  Prediction Section Allows users to submit/update predictions and
    displays match results or earned points.   -->
    {% include "components/room_details/prediction.html" %} {# ========================================== Leaderboard
    Section Displays all players and their room points. ========================================== #} {% include
    "components/room_details/leaderboard.html" %}
  </div>

  {# ========================================== Match Result Section (Owner Only) Allows the room owner to submit the
  final match result after the match has ended. ========================================== #} {% if session["user_id"]==
  room.owner_id %} {% include "components/room_details/match_result.html" %} {% endif %}
</div>

{% endblock %}
