{% extends "layouts/base.html" %}

{% block title %}
Rooms
{% endblock %}

{% block content %}

{% include "components/navbar.html" %}

<section class="rooms-page">

    <div class="container">

        <div class="rooms-header">

            <div>

                <h1>Football Rooms</h1>

                <p>
                    Predict matches or create your own challenge.
                </p>

            </div>

            {% if session.get("user_id") %}

                <div>

                    <a
                        href="{{ url_for('rooms.create') }}"
                        class="btn btn-success">

                        Create Room

                    </a>

                </div>

            {% else %}

                <div>

                    <a
                        href="{{ url_for('auth.login') }}"
                        class="btn btn-outline-success">

                        Login

                    </a>

                    <a
                        href="{{ url_for('auth.register') }}"
                        class="btn btn-outline-success">

                        Register

                    </a>

                </div>

            {% endif %}

        </div>

        {% include "rooms/_room_list.html" %}

    </div>

</section>

{% endblock %}
