/* --- Navigation Bar --- */
 .custom-navbar {
  background: transparent;
  transition:
    background 0.3s ease,
    padding 0.3s ease;
  padding: 18px 0;
}

.custom-navbar .navbar-brand {
  color: #408d86;
  font-size: 28px;
  font-weight: bold;
}



.navbar-scrolled {
  background: #111;
  padding: 12px 0;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

img {
  height: 60px;
  width: auto;
}

