<section class="hero">
  <div class="overlay">
    <div class="hero-content">
      <h1>Fantasy Arena</h1>
      <p>Predict match scores, challenge your friends</p>
      <!-- <p>Predict match scores, challenge your friends, and rise to the top of the leaderboard!</p> -->

      <div class="hero-buttons">
        <a href="{{ url_for('rooms.index') }}" class="btn btn-warning">View Rooms</a>
        {% if session.get('user_id') %}
        <a href="{{ url_for('rooms.create') }}" class="btn btn-secondary">Create Room</a>
        {% else %}
        <a href="{{ url_for('auth.login') }}" class="btn btn-success">Login/Register</a>
        {% endif %}
      </div>
    </div>
  </div>
</section>
